nav{
    margin-top: 45px;
    position: relative;
    z-index: 100;
}
.nav_flex{
    display: flex;
    justify-content: space-between;
}
ul{
display: flex;
gap: 35px;
align-items: center;
}
ul li{
    list-style: none;
    color: #555555;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: .4s;
  
}
ul li:hover{
   color: #18A7B9;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}